@model List<Order>

@{ 
    ViewData["Title"] = "All orders";
}

<div class="row" style="margin-top: 20px;">
    <br /><br /><br />
    <div class="col-md-2"></div>
    <div class="col-md-8 customFont text-center">
        
            <h1>List of all your orders</h1>
        

        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Items</th>
                    <th>Total</th>
                    
                        <th>User</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                <tr>
                    <td class="align-middle">@order.Id</td>
                    <td class="align-middle">
                        <ul style="list-style-type:none">
                            @foreach (var item in order.OrderItems)
                            {
                                <li>
                                    <div class="alert alert-info" role="alert">
                                        <span class="badge bg-success">@item.Amount</span> [@item.Product.ProductPrice.ToString("c")] - @item.Product.ProductName
                                    </div>
                                </li>
                            }
                        </ul>
                    </td>
                    <td class="align-middle">
                        @order.OrderItems.Select(m => m.Product.ProductPrice * m.Amount).Sum().ToString("c")
                    </td>
                    @*
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td class="align-middle"> @order.User.FullName </td>
                    }
                    *@
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-md-2"></div>
</div>