<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pink JB</title>
    
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300&family=Playfair+Display&display=swap" rel="stylesheet">
     
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/myCss.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top " style="position: fixed; top: 0">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @*@Html.ActionLink("Pink JB", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse align-items-center" >
                <ul class="nav navbar-nav align-items-center" style="display: inline-block">
                    <li style="font-size: 20px;" class="customFont">@Html.ActionLink("Pink JB","Index","Home")</li>
                    <li class="customFont">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="customFont">@Html.ActionLink("Store", "Store", "Home")</li>
                    <li class="customFont">@Html.ActionLink("Contact", "Contact", "Home")</li>

                </ul>
                <div class="text-end align-items-center">
                    <ul class="text-end" style="display: inline-block; list-style-type:none">
                        <li>
                            <button class="btn btn-outline-success dropdown-toggle" id="profile-btn" data-toggle="dropdown" aria-expanded="false" style="margin-top: 15px;">
                                <i class="bi bi-person-bardge"></i> Hello User
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="profile-btn">
                                <li>
                                    <a class="">
                                        bello
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="text-end" style="display: inline-block; list-style-type:none">
                        <li class="text-end" style="list-style-type: none; color: white; margin-top: -10px; " >
                            @await Component.InvokeAsync("ShoppingCartSummary")
                        </li>
                    </ul>
                    
                </div>









            </div>

        </div>

    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="font-family: 'Lobster', cursive; font-family: 'Montserrat', sans-serif; font-family: 'Playfair Display', serif;">&copy; @DateTime.Now.Year - Pink JB</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>