

@model Product
@{
    ViewData["Title"] = "Product details";
}

<div class="text-center">
    <br /><br /><br />
    <h1 class="customFont" style="font-size: 65px;">Pink <b><i>JB</i></b></h1>

</div>
<div class="row">


        
        <div class="col-md-8 offset-2">
                    <span class="border-primary">

            <div class="card mb-12">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-pinkJB text-center" style="background-color: deeppink">
                            <p class="card-text text-white">
                                <h2 class="card-title customFont text-white" style="color: white">
                                    @Model.ProductName
                                    <br>
                                   
                                </h2>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@Model.ProductImage" width="100%" alt="@Model.ProductName">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text customFont">@Model.ProductDescription</p>
                            <p class="card-text customFont" >
                                <b>Status: </b>
                                @if (@Model.amountLeft >= 1)
                                {
                                    <span class="badge bg-pinkJB  text-white" style="background-color: hotpink">AVAILABLE</span>
                                }
                                
                                else
                                {
                                    <span class="badge bg-danger text-white">NOT AVAILABLE</span>

                                }
                            </p>
                            <p class="card-text customFont" >
                                <b>Material: </b>
                                        @Model.ProductMaterial
                                </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text customFont">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" >
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                                @Model.ProductPrice.ToString("c")
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
              </span>
        </div>
  

</div>

        
