

@model Product
@{
    ViewData["Title"] = "Product details";
}

<div class="text-center">
    <br /><br /><br />
    <h1 class="customFont" style="font-size: 65px;">Pink <b><i>JB</i></b></h1>

</div>
<div class="row ">


        
        <div class="col-md-12  text-center">
                    <span class="border-primary">

            <div class="card mb-12">
                <div class="row g-0 ">
                    <div class="col-md-12">
                        <div class="card-header align-content-center bg-pinkJB text-center" style="  height: 65%;  margin-left: 10%; width: 80%; background-color: deeppink">
                                <h3 class="card-title customFont text-center text-white" style="color: white; font-size: 20px;">
                                    @Model.ProductName
                                   
                                   
                                </h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <img src="@Model.ProductImage" style="height: 400px; width: 400px;" alt="@Model.ProductName">
                    </div>
                    <div class="col-md-12">
                        <div class="card-body">
                            <p class="card-text customFont">@Model.ProductDescription</p>
                            <p class="card-text customFont" >
                                <b>Status: </b>
                                @if (@Model.amountLeft >= 1)
                                {
                                    <span class="badge bg-pinkJB  text-white" style="background-color: hotpink">AVAILABLE</span>
                                }
                                
                                else
                                {
                                    <span class="badge bg-danger text-white">NOT AVAILABLE</span>

                                }
                            </p>
                            <p class="card-text customFont" >
                                <b>Material: </b>
                                        @Model.ProductMaterial
                                </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
             

                            
                            <p class="card-text customFont">
                                <a class="btn btn-outline-primary float-right" asp-action="Store">
                                    <i class="bi bi-cart"></i> Back to store
                                </a> 
                                @Model.ProductPrice.ToString("c")

                            </p>
                           
                        </div>
                    </div>
                </div>
            </div>
              </span>
        </div>
  

</div>

        
